html,
body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: serif;
}

#layout {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 100vh;
  padding: 1.5rem;
  gap: 2rem;
  /* overflows screen otherwise */
  box-sizing: border-box;
}

#description {
  /* flex-direction: column; */
  background-color: #999999;
  width: 66.7%;
  height: 75%;
  justify-self: center;
  align-self: center;
  border-radius: 20px;
  /* justify-content: center; */
  display: grid;
  place-items: center;
  border: 4px solid #777777;
  /* TODO: scale in webasm */
  font-size: clamp(16px, 4vw, 64px);
}

#choices {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  /* direction: column; */
  /* grid-template-columns: 1fr 1fr; */
  /* gap: 2rem; */
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
}

.choice {
  background-color: #999999;
  height: 50%;
  /* flex-grow: 1; */
  flex-basis: 30%;
  /* min-width: 30%; */
  /* width: 50%; */
  /* max-width: 30%; */
  border-radius: 20px;
  /* text-align: center; */
  /* display: grid; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* place-items: center; */
  border: 4px solid #777777;
  font-size: clamp(16px, 2vw, 32px);
}

.choice:hover {
  cursor: pointer;
}